@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}
/* Hide scrollbar but keep scroll */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}